---
import Layout from "../layouts/Layout.astro";
import Left from "../icons/left.svg";
import LinkButton from "../components/LinkButton.astro";
---

<Layout title="About Me">
  <div class="flex flex-col items-center justify-center min-h-screen">
    <div class="w-full max-w-4xl px-6 py-8">
      <section class="space-y-6 mb-24">
        <LinkButton
          label="Back"
          href="/"
          icon={Left}
          fullWidth={false}
          className="text-black"
        />

        <h1 class="text-4xl font-bold text-center">About Me</h1>

        <p class="font-light">
          👋 Hi there! I'm <strong>Joy Paulsen</strong>, a data scientist,
          engineer, and creative technologist based in <strong
            >Minneapolis, MN</strong
          >. I care deeply about building things that matter with quality.

          <!-- especially when it comes to <strong
            >climate</strong
          >, <strong>sustainability</strong>, and using <strong>data</strong> to
          drive positive change. -->
        </p>

        <div class="flex justify-center mb-6">
          <img src="/images/me.jpg" alt="Joy Paulsen" class="w-full max-w-sm" />
        </div>

        <!-- <p class="font-light">
          I'm currently a Lead Data Scientist working in personalization and
          machine learning at Target. Outside of the 9-5, some of my other
          professional interests include science communication, data
          visualization, and mission-driven work focused on <strong
            >sustainability</strong
          >, <strong>energy</strong>, and <strong>climate</strong>.
        </p> -->

        <p class="font-light">
          I'm currently a Lead Data Scientist working on machine learning and AI
          at Target. Outside of the 9-5, some of my other professional interests
          include science communication, data visualization, and mission-driven
          work focused on sustainability, energy, and climate. I have recently
          started a blog to explore these topics in more depth, which you can
          find at
          <a
            href="https://joypauls.dev"
            class="text-base underline"
            target="_blank"
            rel="noopener noreferrer">joypauls.dev</a
          >.
        </p>

        <!-- <h2 class="text-2xl font-semibold">Background</h2> -->

        <h2 class="text-2xl font-semibold">Work</h2>

        <p class="font-light">
          My team at Target builds automated systems to classify products into
          semantically meaningful themes. Previously, I worked on a
          cross-functional team developing performant streaming applications for
          real-time inference that was used to enhance web and mobile UX.
          Additionally, I have worked on both traditional and deep
          learning-based recommendation systems integrated into several
          different products during my time at Target.
        </p>

        <p class="font-light">
          Before that, I was a member of the data science group at C.H.
          Robinson, a third-party logistics (3PL) provider. I ended my time
          there leading a team focused on building recommentation systems and
          search engine capabilities for their flagship app. My first few years
          centered around time-series analysis, pricing forecasts, and market
          dynamics.
        </p>

        <!-- <h2 class="text-2xl font-semibold">Interests</h2>
        <ul class="list-disc list-inside font-light">
          <li>Turning complex data into visual narratives</li>
          <li>Exploring clean energy systems</li>
          <li>Computational photography and image science</li>
          <li>Making climate data actionable</li>
          <li>Building smart tools with AI (thoughtfully)</li>
        </ul> -->

        <!-- <h2 class="text-2xl font-semibold">Projects</h2>
        <ul class="space-y-2 font-light">
          <li>
            <strong>Daily Grid</strong>: Real-time US electricity generation
            dashboard
          </li>
          <li>
            <strong>Meltwater Archives</strong>: Narrative project visualizing
            humanity’s carbon history
          </li>
          <li>
            <strong>Deconvoluted</strong>: Blog about computational photography
            and image science
          </li>
        </ul> -->

        <h2 class="text-2xl font-semibold">Let’s Connect</h2>
        <!-- <p class="font-light">
          I’d love to connect if you’re working at the intersection of <strong
            >data</strong
          >, <strong>climate</strong>, and <strong>design</strong>.
        </p> -->
        <p class="font-light">
          Thanks for being here! Head back to the <a
            href="/"
            class="text-base underline">home page</a
          >
          for the best methods of contacting me.
        </p>

        <h2 class="text-2xl font-semibold">Meta</h2>

        <p class="font-light">
          Built with Astro and Tailwind CSS, and hosted on Vercel. You can check
          out the code <a
            href="https://github.com/joypauls/joypaulsen.com-astro"
            class="text-base underline"
            target="_blank">here</a
          >. The animation on the home page shows the histogram of random
          samples drawn from a normal distribution - every instance is
          different!
        </p>
      </section>
    </div>
  </div>

  <style>
    /* h1 {
    border-bottom: 1px solid #452bd7;
  } */
    strong {
      color: #452bd7;
      font-weight: 600;
    }

    img {
      box-shadow: 1px 2px 5px rgba(20, 20, 20, 0.9);
    }
  </style>
</Layout>
