---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import NormalDistChart from "../components/NormalDistAnimation.astro";
// import VoltageAnimation from "../components/VoltageAnimation.astro";
// import { Github } from "lucide-react";
import Github from "../icons/github.svg";
import LinkedIn from "../icons/linkedin.svg";
import Email from "../icons/email.svg";
---

<div class="h-full">
  <!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
  <main class="min-h-full flex flex-col items-center justify-center py-8">
    <NormalDistChart id="chart-wrapper" />
    <!-- <VoltageAnimation id="three-phase-chart" /> -->

    <div class="text-center mt-4 mb-6">
      <h1 class="text-4xl font-extrabold">Joy Paulsen</h1>
      <p class="text-lg font-thin">Data Scientist, Engineer, Builder</p>
    </div>
    <section
      id="links"
      class="flex flex-col items-center min-w-[300px] gap-3 mb-4 text-lg font-semibold"
    >
      <a
        class="button w-full flex justify-center items-center rounded-none"
        href="/about">About Me</a
      >
      <a
        class="button w-full flex justify-center items-center rounded-none"
        href="https://docs.astro.build">Blog</a
      >
      <a
        class="button w-full flex justify-center items-center rounded-none"
        href="https://github.com/joypauls"
      >
        <div class="w-6 h-6 mr-4">
          <Github style="height: 100%; width: 100%;" />
        </div>Github</a
      >
      <a
        class="button w-full flex justify-center items-center rounded-none"
        href="https://www.linkedin.com/in/joy-paulsen-0bb55419b/"
        ><div class="w-6 h-6 mr-4">
          <LinkedIn style="height: 100%; width: 100%;" />
        </div>LinkedIn</a
      >
      <a
        class="button w-full flex justify-center items-center rounded-none"
        href="mailto:hello@joypauls.dev"
        ><div class="w-6 h-6 mr-4">
          <Email style="height: 100%; width: 100%;" />
        </div>Email</a
      >
    </section>
  </main>
</div>

<style>
  /* h1 {
    color: #4c3f6b;
  }

  p {
    color: #4c3f6b;
  } */

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  #links a {
    padding: 10px 12px;
    color: #111827;
    text-decoration: none;
    transition: color 0.2s;
  }

  #links a:hover {
    color: rgb(78, 80, 86);
  }

  #links a svg {
    height: 1em;
    margin-left: 8px;
  }

  #links a.button {
    color: white;
    /* background: #5f4275; */
    /* background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%); */
    background: linear-gradient(45.21deg, #6f32ff 0%, #21d5a2 100%);
    box-shadow: 1px 2px 5px rgba(20, 20, 20, 0.9);
    /* box-shadow: inset -2px -5px 0 rgba(0, 0, 0, 0.24); */
    border: 1px solid #000;
  }

  #links a.button:hover {
    color: rgb(220, 220, 220);
    /* box-shadow: none; */
  }

  h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
  }

  .box {
    padding: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid white;
  }

  @media screen and (max-width: 768px) {
    #links {
      flex-wrap: wrap;
    }

    /* #links a.button {
      padding: 14px 18px;
    } */
  }
</style>
